body{
	background-color:#0B0713;
	width:vw;
	height:vh;
}

.container{
	position:relative;	
	width:1300px;
	height:730px; 
	margin:auto;
	margin-top:30px;
	display:flex; 
	justify-content:center;
	align-items:center;
	background-color:#110D1D;

}


.scoreboard{
	width:365px;
	height:620px;

	margin:auto;
	margin-top:0px;
	background-color:'';
	border: 5px solid '';
	display:flex;
	flex-direction: column;
	justify-content:flex-start;
	
}

.score{
	margin-top:10px;
	margin-left:52px;
	margin-right:20px;
	color:orangered;
	font-family: 'PT Mono', monospace;
	font-weight: 900;
	font-size: 22px;
	width: 250px;
	height:230px;
	background-color:#171322;
	border: 5px solid #333;
	display:flex;
	align-items: space-between;
	flex-direction: column;

}

.barboard{
	width: 285px;
	height:710px;
	background-color:'';
	display:flex;
	border: 5px solid '';
	flex-direction: column;
}
.bartext{
	margin-left:14px;
	margin-bottom:14px;
	font-size:22px;
	width: 30px;
	height: 30px;
	}

.bartext p{
	font-family: 'PT Mono', monospace;
	color:white;
	font-size: medium;
	text-shadow: 0px 0px 5px white;
	
}
.bar{
	width: 20px;
	height:710px;
	margin-left:20px;
	margin-top: 0px;
	background-color:#171322;
	border-radius: 25px;
	border: 5px solid #333;
	display:flex;
	flex-direction: column-reverse;
}
.bar div{
	width: 20px;
	height:calc(100% * (1/5) - 1px);
	border: 1px solid #333;
}
.bar div:nth-child(1) {
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}
.bar div:nth-child(5) {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}
.board{
	width: 970px;
	height:700px;	
	display:flex;
	flex-wrap:wrap;
	background-color:#000064;
	
	border: 10px solid #333;
}



.board div{
	color:#171322;
	font-size: 22px;
	font-weight: 900;
	padding:0.3px;
	text-align: center;
	
	display: inline-block;
    flex-grow: 1;
    width: calc(100% * (1/27) - 1px);
    height: calc(100% * (1/27) - 1px);
	float:left;
	box-sizing: border-box;
	background-color: #171322;
	border:1px solid #000045;
}




.frontpage {
	position:absolute;
	background-color:#171322;
	width:1300px;
	height:730px;
	margin:auto;
	margin-bottom: 0px;
	border-top:10px solid orangered;
	border-left:10px solid orangered;
	border-right:10px solid #C43600;
	border-bottom:10px solid #C43600;

	font-family: 'PT Mono', monospace;
	font-weight: 900;
	font-size:22px;
	color:orangered;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;

}

.startpage{
	padding-bottom: 0px;
}
.creation{

	color:#888;
	font-family: 'PT Mono', monospace;
	font-size: 17px;
	margin-bottom: 0px;
	margin-top:12px;
	display:flex;
	justify-content: center;
	align-items:center;: 
}

.soundweb{
	display: none;
	width:750px;
	color:#666;
	font-size: 15px;
	margin-bottom: 7px;
	margin-top:0px;
	text-align:center;
}


button{
	font-family: 'PT Mono', monospace;
	font-weight: 900;
	color:#171322;
	width:190px;
	height:60px;
	font-size:19px;
	background-color:orangered;
	border-radius:25px;
	border-top:4px solid #FC6B35;
	border-left:4px solid #FC6B35;
	border-right:4px solid #C43600;
	border-bottom:4px solid #C43600;
	margin:10px;
}


button:focus {outline:0;}
button:hover{
color:#FBFAF7;	
background-color: #2D7A00;
border-color: #5DB22F;
border-top:4px solid #1A370B;
border-left:4px solid #1A370B;
}

#frontinstrbutton:hover{
	color:#171322;
background-color: #CBB714;
border-color: #DECE3F;
border-top:4px solid #716500;
border-left:4px solid #716500;
}

#frontsettingbutton:hover{
background-color: #3C2875;
border-color: #796E99;
border-top:4px solid #18054E;
border-left:4px solid #18054E;
}

#credits{
	color:#666;
	font-size: 15px;
	background-color:#171322;
	border:none;
	
	margin-top:0px;
	padding: 0px;
	text-align:center;

}

#logosnake{
	width:265px;
	height:275px;
	margin-top:20px;
	animation: fading 6s ease-out;
}

@keyframes fading {
            0% {opacity: 0;}
            100% {opacity: 1;}
}




.instructionpage{
	display:flex;
	flex-direction:row;
	justify-content: space-around;
}

.instructionpage div:nth-child(1){
	width:750px;
	height:720px;
	font-family: 'PT Mono', monospace;
	font-weight: 900;
	font-size:21px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: '';

}
.instructionpage p{
    line-height: 1.4;
     text-align: justify;

}
.head{
	font-size:22px;
	color:limegreen;
}
.warning{
	color:#F8F800;
}


.instructionpage div:nth-child(2){
	width:450px;
	height:720px;
display:flex;
/*border:2px solid yellow;*/
flex-direction: row;
background-color: '';
	justify-content: space-around;
	align-items: center;
}

.insimage{
	width:50px;
	height:50px;
}
.insimage1{
	width:50px;
	height:500px;
}
table{
	width:350px;
	height:300px;
	font-size:22px;
	background:'';


	display:flex;
	flex-direction: column;
	align-content:space-between;
}

.lastpage{
	position:absolute;
	background-color:#171322;
	width:1200px;
	height:630px;
	margin:auto;
	border-top:10px solid orangered;
	border-left:10px solid orangered;
	border-right:10px solid #C43600;
	border-bottom:10px solid #C43600;

	font-family: 'PT Mono', monospace;
	font-weight: 900;
	font-size:22px;
	color:orangered;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
}
.lastPageTable{
margin-top:70px;
	width:250px;
	height:300px;
	font-size:22px;
	background:'';
	border-collapse: separate;
    border-spacing: 20px 1px;
}
#comment {
	text-align:center;
}

#reloadbutton:hover{
	color:#FBFAF7;	
	background-color: #6D06A6;
	border-color: #953BC7;
	border-top:4px solid #430367;
	border-left:4px solid #430367;
}

.settingpage{
	position:absolute;
	background-color:#171322;
	width:1200px;
	height:630px;
	margin:auto;
	border-top:10px solid orangered;
	border-left:10px solid orangered;
	border-right:10px solid #C43600;
	border-bottom:10px solid #C43600;

	font-family: 'PT Mono', monospace;
	font-weight: 900;
	color:orangered;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
}
.settingspeed{
	margin-top: 20px;
	width:100px;
	height:30px;
	font-size:22px;
	background:'';
	border-collapse: separate;
    border-spacing: 100px 10px;
    margin-bottom: 20px;
    }

.speeeedradio{
	margin-top: 40px;
	margin-left: 30px;
	width:200px;
	height:300px;
	font-size:22px;
	background:'';
	border-collapse: separate;
    border-spacing: 100px 10px;
}

.screenfit{
	font-size:16px;
}